.App {
  width: 100%;
  height: 100vw;
  margin-top: 0;
  padding-top: 0;
  display: flex;
  flex-direction: row;
}

.Editor {
  flex: 8;
  width: 50px;
}

.Users {
  flex: 1.5;
}

textarea {
  background: white;
  margin-top: 50px;
  color: black;
  resize: none;
}
