.Users {
  background: rgb(37, 39, 42);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

.title {
  margin-left: 15px;
  font-size: 22px;
}

.user-list {
  margin-left: 1px;
  margin-top: 20px;
  list-style: none;
}

.user_key {
  margin-bottom: 25px;
  font-size: 16px;
}
