.CodeMirror {
  height: 100vw !important;
  width: 100%;
}

nav {
  width: 100vw;
  display: flex;
  background: rgb(37, 39, 42);
  color: white;
  height: 50px;
  padding-bottom: 10px;
}

h3 {
  padding-bottom: 5px;
  flex: 8;
  text-align: center;
  font-size: 30px;
}

.dropdown {
  flex: 0.5;
  margin-right: 20px;
}

.compile {
  float: right;
  flex: 0.4;
}
